<div class="container">
  <div class="question">Stupid Coaching</div>
  <div class="author">Ask the coach anything:</div>

  <form action="answer">
    <input type="text" name="question">
    <input type="submit" value="Ask!">
  </form>
</div>